@font-face {
    font-family: 'Haim';
    src: url('../fonts/VC_Haim-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haim';
    src: url('../fonts/VC_Haim-Tzar.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimplerPro Mono';
    src: url('../fonts/SimplerPro_HLAR_Mono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimplerPro Mono';
    src: url('../fonts/SimplerPro_HLAR_Mono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimplerPro Mono';
    src: url('../fonts/SimplerPro_HLAR_Mono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Masada';
    src: url('../fonts/Masada-Medium.woff2') format('woff2');
    font-weight: 550;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro Alte";
    src: url('../fonts/SimplerPro Alte Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SimplerPro Condensed";
    src: url('../fonts/Simpler Pro Condensed Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro Extended";
    src: url('../fonts/SimplerPro Extended Ultra.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SimplerPro";
    src: url('../fonts/SimplerPro Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}