$font-simpler: "SimplerPro";
$font-simpler-bold: "SimplerPro Condensed";
$font-simpler-light: "SimplerPro Extended";
$font-simpler-mono: "SimplerPro Mono";
$font-simpler-alte: "SimplerPro Alte";
$font-masada: "Masada";